.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}

.logo {
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
}

.logo p {
  margin-top: 13px;
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  color: orange;
}

.NavbarItems img {
  height: 60px;
  width: 150px;
  padding-bottom: 12px;
  border-radius: 0px 10px 0px 10px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: #ffffff;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  font-family: "Mukta", sans-serif;
}

.Homebutton{
  text-decoration: none;
  color: #ffffff;
  /* padding: 0.7rem 1rem; */
  white-space: nowrap;
  font-family: "Mukta", sans-serif;
}
.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background: rgba(151, 194, 236, 0.9);
  /* border-radius: 50px; */
  transition: all 0.2s ease-in-out;
}

.fa-bars,
.fa-times {
  color: #ffffff;
}

.menu-icons {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px;
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 11px;
}

.dropdown-content button,
.dropdown-content .dropdown-link {
  display: block;
  width: 90%;
  padding: 8px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.dropdown-content button:hover,
.dropdown-content .dropdown-link:hover {
  background-color: rgba(151, 194, 236, 0.9);
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    width: 100%;
    padding: 2rem 0;
    color: #222222;
  }

  .nav-links:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  .menu-icons {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .NavbarItems {
    padding: 0 15px;
  }

  .nav-links {
    padding: 1rem 0;
  }
}
